.headerimg {
    width: 60px;
    height: 50px;
    border-radius: 25px;
    margin-right: 10px;
}

.logout {
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    color: rgb(145, 142, 142);
}
.logout:hover {
    color: rgb(194, 193, 193);
}
.word-color {
    color: #ff8906;
}
.username {
    margin-right: 10px;
    color: rgb(145, 142, 142);
}
.username:hover {
    color: rgb(194, 193, 193);
}
